.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #263038;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 15px gray;
    color: #fff;
    font-size: 24px;
  }